@{
    ViewData["Title"] = L.Get("title");
}

<div class="row faq-main">
    <div class="col-11 col-md-7">
        <h3 class="text-center mb-4">@L.Get("title")</h3>

        <div class="akordiyon">
            <div class="akordiyon-header d-flex justify-content-between" onclick="showData('ak1')">
                <h5>
                    @L.Get("faqQ1")
                </h5>
                <img src="~/img/expand.svg" />
            </div>
            <div id="ak1" class="kolaps akordiyon-desc">
                <div>
                    @L.Get("faqD1")
                </div>
            </div>
        </div>

        <div class="akordiyon">
            <div class="akordiyon-header d-flex justify-content-between" onclick="showData('ak2')">
                <h5>
                    @L.Get("faqQ2")
                </h5>
                <img src="~/img/expand.svg" />
            </div>
            <div id="ak2" class="kolaps akordiyon-desc">
                <div>
                    @L.Get("faqD2")
                </div>
            </div>
        </div>

        <div class="akordiyon">
            <div class="akordiyon-header d-flex justify-content-between" onclick="showData('ak3')">
                <h5>
                    @L.Get("faqQ3")
                </h5>
                <img src="~/img/expand.svg" />
            </div>
            <div id="ak3" class="kolaps akordiyon-desc">
                <div>
                    @L.Get("faqD3")
                </div>
            </div>
        </div>

        <div class="akordiyon">
            <div class="akordiyon-header d-flex justify-content-between" onclick="showData('ak4')">
                <h5>
                    @L.Get("faqQ4")
                </h5>
                <img src="~/img/expand.svg" />
            </div>
            <div id="ak4" class="kolaps akordiyon-desc">
                <div>
                    @L.Get("faqD4")
                </div>
            </div>
        </div>

        <div class="akordiyon">
            <div class="akordiyon-header d-flex justify-content-between" onclick="showData('ak5')">
                <h5>
                    @L.Get("faqQ5")
                </h5>
                <img src="~/img/expand.svg" />
            </div>
            <div id="ak5" class="kolaps akordiyon-desc">
                <div>
                    @L.Get("faqD5")
                </div>
            </div>
        </div>

        <div class="akordiyon">
            <div class="akordiyon-header d-flex justify-content-between" onclick="showData('ak6')">
                <h5>
                    @L.Get("faqQ6")
                </h5>
                <img src="~/img/expand.svg" />
            </div>
            <div id="ak6" class="kolaps akordiyon-desc">
                <div>
                    @L.Get("faqD6")
                </div>
            </div>
        </div>

        <div class="akordiyon">
            <div class="akordiyon-header d-flex justify-content-between" onclick="showData('ak7')">
                <h5>
                    @L.Get("faqQ7")
                </h5>
                <img src="~/img/expand.svg" />
            </div>
            <div id="ak7" class="kolaps akordiyon-desc">
                <div>
                    @L.Get("faqD7")
                </div>
            </div>
        </div>

        <div class="akordiyon">
            <div class="akordiyon-header d-flex justify-content-between" onclick="showData('ak8')">
                <h5>
                    @L.Get("faqQ8")
                </h5>
                <img src="~/img/expand.svg" />
            </div>
            <div id="ak8" class="kolaps akordiyon-desc">
                <div>
                    @L.Get("faqD8")
                </div>
            </div>
        </div>

        <div class="akordiyon">
            <div class="akordiyon-header d-flex justify-content-between" onclick="showData('ak9')">
                <h5>
                    @L.Get("faqQ9")
                </h5>
                <img src="~/img/expand.svg" />
            </div>
            <div id="ak9" class="kolaps akordiyon-desc">
                <div>
                    @L.Get("faqD9")
                </div>
            </div>
        </div>

        <div class="akordiyon">
            <div class="akordiyon-header d-flex justify-content-between" onclick="showData('ak10')">
                <h5>
                    @L.Get("faqQ10")
                </h5>
                <img src="~/img/expand.svg" />
            </div>
            <div id="ak10" class="kolaps akordiyon-desc">
                <div>
                    @L.Get("faqD10")
                </div>
            </div>
        </div>

    </div>
</div>