@{
    ViewData["Title"] = L.Get("title");
}
<div class="row privacy-main">
    <div class="col-11 col-md-7">
        <h1>@L.Get("ph1")</h1>
        <br />
        <p>@L.Get("pd1")</p>

        <p>@L.Get("pd2")</p>

        <p>@L.Get("pd3")</p>

        <p>@L.Get("pd4")</p>

        <h2>@L.Get("ph2")</h2>

        <p>@L.Get("pd5")</p>

        <h2>@L.Get("ph3")</h2>

        <p>@L.Get("pd6")</p>

        <h2>@L.Get("ph4")</h2>

        <p>@L.Get("pd7")</p>

        <p>@L.Get("pd8")</p>

        <h2>@L.Get("ph5")</h2>

        <p>@L.Get("pd9")</p>

        <ul>
            <li>@L.Get("pli1")</li>
            <li>@L.Get("pli2")</li>
            <li>@L.Get("pli3")</li>
            <li>@L.Get("pli4")</li>
        </ul>

        <p>@L.Get("pd10")</p>

        <h2>@L.Get("ph6")</h2>

        <p>@L.Get("pd11")</p>

        <h2>@L.Get("ph7")</h2>

        <p>@L.Get("pd12")</p>

        <h2>@L.Get("ph8")</h2>

        <p>@L.Get("pd13")</p>

        <h2>@L.Get("ph9")</h2>

        <p>@L.Get("pd14")</p>

        <h2>@L.Get("ph10")</h2>

        <p>@L.Get("pd15")</p>
    </div>
</div>